%h3 #{@track_show.track['title']}'s backchannel
%section
  .row#track-contents
    .span5
      %h3 Chat
      %ul.chat{"data-id" => "#{@track_show.track_id}"}
        = render partial: 'message', collection: @track_show.messages

      %input.span4#body{:type => "text", :placeholder => "Type your message here"}
      %button.btn#post Send


    .span6
      %h3 Questions
      %ul.questions{"data-id" => "#{@track_show.track_id}"}
        = render partial: 'question', collection: @track_show.questions
      %a.btn.btn-primary{:href=>"#questionModal", "role"=>"button", "data-toggle"=>"modal"} Ask a Question 

      #questionModal.modal.hide.fade{"tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
        .modal-header
          %button.close{:type=>"button", "data-dismiss"=>"modal", "aria-hidden"=>"true"} ×
          %h3#myModalLabel Add Question
        .modal-body
          %textarea#question-body.span3{:rows => "3"}

        .modal-footer
          %button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"} Close
          %button#create-question.btn.btn-primary{"data-dismiss"=>"modal"} Save changes

:javascript
  if (typeof(Backchannel) == 'undefined') {
    window.Backchannel = {};
  }
  Backchannel.clientUrl = "/tracks/#{@track_show.track_id}";

  $(function(){

    var scrollHeight = $("ul.chat li .message-container").map(function() { return $(this).height() }).get().reduce(function(a,eh) { return a + eh }, 0);

    var client = new Faye.Client('http://localhost:9292/faye');


    client.subscribe(Backchannel.clientUrl + "/questions/vote", function (data) {
      console.log(data);
    })


    client.subscribe(Backchannel.clientUrl, function (data) {

      var userIds = gon.track_show.user_ids,
          users = gon.track_show.users, 
          chatUserId = data.text.user_id;

      if ($.inArray(chatUserId, userIds) !== -1) {

        $('.chat').append('<li>' + "<img class='img-circle', src='"+ users[data.text.user_id].image_url + "'/>" + ' ' + users[data.text.user_id].nickname + ' says: ' + data.text.body + '</li>')
        $("ul.chat").scrollTop(scrollHeight + 6000)

      } else {
        $.ajax({
          type: 'GET',
          url: '/users/' + data.text.user_id,
          success: function (response) {

            $('.chat').append('<li>' + "<img class='img-circle', src='"+ response.image_url + "'/>" + ' ' + response.nickname + ' says: ' + data.text.body + '</li>')
            $("ul.chat").scrollTop(scrollHeight + 2000)

          }
        })
      };
    });

    client.subscribe(Backchannel.clientUrl + "/questions", function (data) {

      var userIds = gon.track_show.user_ids,
          users = gon.track_show.users, 
          chatUserId = data.text.user_id;

      if ($.inArray(chatUserId, userIds) !== -1) {

        $('.questions').append('<li> <div class="question-container"> <div class="question"><h3>' + data.text.body + '</h3><span class="badge badge-inverse">' + data.text.vote_count + 'votes </span> </div> <div class="asker-info"> <div class="img-container"> <img class="img-circle" src="' + users[data.text.user_id].image_url + '"/></div> <p>' + users[data.text.user_id].nickname + '</p> <button class="btn pull-right">vote</button> </div> </div> </li>')
        $("ul.questions").scrollTop(scrollHeight + 6000)

      } else {
        $.ajax({
          type: 'GET',
          url: '/users/' + data.text.user_id,
          success: function (response) {
            $('.questions').append('<li> <div class="question-container"> <div class="question"><h3>' + data.text.body + '</h3><span class="badge badge-inverse">' + data.text.vote_count + 'votes </span> </div> <div class="asker-info"> <div class="img-container"> <img class="img-circle" src="' + response.image_url + '"/></div> <p>' + response.nickname + '</p> <button class="btn pull-right">vote</button> </div> </div> </li>')
            $("ul.questions").scrollTop(scrollHeight + 6000)

          }
        })
      };
    });

    $("#create-question").click(function() {
      var $body = $("#question-body"),
          message = $body.val();

      $body.val('');


      $.ajax({
        type: "POST",
        url:  "/#{@track_show.conference_slug}/#{@track_show.track_id}/questions",
        data: {body: message},
        dataType: "json",
        success: function (response) {
        },
        error: function (error) {
        }
      });

    });

    $(".vote").click(function() {
      var questionId = $(this).closest(".question-container").data("question-id");

      $.ajax({
        type: "POST",
        url:  "/#{@track_show.conference_slug}/#{@track_show.track_id}/questions/" + questionId + "/vote",
        success: function (response) {
        },
        error: function (error) {
        }
      });

    });

    $("#post").click(function() {
      var $body = $("#body"),
          message = $body.val();

      $body.val('');

      $.ajax({
        type: "POST",
        url:  "/#{@track_show.conference_slug}/#{@track_show.track_id}/messages",
        data: {body: message},
        dataType: "json",
        success: function (response) {
        },
        error: function (error) {
        }
      });

    });
  });
