%h1= @conference['name']
%h2 Conference Schedule

.row
  .span12
    %br
.days
  %ul
    %li
      %a.current{:href => "#"} Mon 4/29
    %li
      %a{:href => "#"} Tue 4/30

    %li
      %a{:href => "#"} Wed 5/1

    %li
      %a{:href => "#"} Thu 5/2

- @sessions_by_start_time.each do |start_time, sessions|
  - if start_time == nil
    - start_time = '2013-07-01 09:00:00 -0700'
  .row.rowadjust
    .span12

    .timeslot
      %h3 session
      %p= Time.parse(start_time).strftime('%l:%M')

    .talkgroup
      - @tracks.each do |track|
        - if session = sessions.detect { |s| s['track_id'] == track['id'] }
          .slot.card
            %h4
              %a{:href => "/#{@conference["slug"]}/#{track['id']}"}= track['title']
            %h5= session['title']
            %p= session['speaker']
        - else
          .slot.card
            %h4= track['title']
            %h5 Nothing Scheduled
            %h3
