%h1= @conference['name']
%h2 Conference Schedule

.row
  .span12
    %br
.days
  %ul
    %li
      %a.current{:href => "#"} Day 1
    %li
      %a Day 2

    %li
      %a Day 3

    %li
      %a Day 4

- @sessions_by_start_time.each do |start_time, sessions|
  - if start_time == nil
    - start_time = '2013-07-01 09:00:00 -0700'
  .row.rowadjust
    .span12

    .timeslot
      %h3 session
      %p= Time.parse(start_time).strftime('%l:%M')

    .talkgroup
      - @tracks.each do |track|
        - if session = sessions.detect { |s| s['track_id'] == track['id'] }
          .slot.card
            %h4
              %a{:href => "#"}= track['title']
            %h5= session['title']
            %p= session['speaker']
        - else
          .slot.card
            %h4= track['title']
            %h4 Nothing Scheduled
            %h3

/-# .row
/-#   .span8
/-#     - @conference["tracks"].each do |track|
/-#       %h4
/-#         =link_to track["title"], conference_track_path(/@conference["slug"], track["id"])
/
/-#       %table.table-bordered.table-striped
/-#         %thead
/-#           %tr
/-#             %th.span3 Session
/-#             %th.span2 Details
/-#             %th.span2 Location
/-#         %tbody
/-#           - track["sessions"].each do |session|
/-#             %tr
/-#               %td= session["title"]
/-#               %td= session["speaker"]
/-#               %td= session["location"]
/
/